jupyter
requests
pandas
matplotlib
seaborn
plotly
PyPDF2
PyAutoGUI
folium
beautifulsoup4
pycoingecko
opencv-python
pytesseract
nltk
pillow
mesa
Django
tensorflow
dash
Flask
scikit-learn
XlsxWriter
openpyxl
kaggle
tabulate
autopep8
pycodestyle
pylint
lxml
reportlab
flickrapi
pyarrow
wordcloud
requests-html
ipympl
agentpy
bokeh
paramiko
flask_wtf
Faker
xlwings
